{{- if (.Param "ShowBreadCrumbs") -}}
<div class="breadcrumbs">
    {{- $url := replace .Parent.Permalink (printf "%s" .Site.BaseURL) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}
    <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Home" }}</a>
    {{ if not (in .Title "Topics") }}
    {{ if not (in .Title "About") }}
    &nbsp;»&nbsp; <a href="{{ "" | absLangURL }}topics/">Topics</a>
    {{ end }}
    {{ end }}
        {{ if .Params.cbreadcrumbs }}
        {{ if gt (len .Params.cbreadcrumbs) 0 }}  {{ end }} 
        {{ range $cbreadcrumbs := .Params.cbreadcrumbs }}{{ if gt $cbreadcrumbs 0 }}, {{ end }} &nbsp;»&nbsp; <a href="{{ "" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}
        {{ end }}
</div>
{{- end -}}
