{{- $scratch := newScratch }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- end }}




{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}


{{- if not .Lastmod.IsZero -}}
{{- $pubdate := .Date.Format "January 2, 2006" }}
{{- $lastmod := .Lastmod.Format "January 2, 2006" }}
{{- if ne $lastmod $pubdate }}
·&nbsp;Updated:&nbsp;
{{- print $lastmod -}}
{{- end -}}
{{- end -}}